
.container{
  margin-left: 200px;
  display: table;
  border-spacing: 30px;
  width: 100%
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 10px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container .card{
  display: table-cell;
  margin: 10px;
  padding: 40px 100px;
  background: #f2f3f7;
  border-radius: 40px;
  box-shadow: 6px 6px 20px rgba(0,0,0,0.05),
        -6px -6px 20px rgba(255,255,255,2);
}

.container .card:hover{
  box-shadow: inset -6px -6px 10px rgba(255,255,255,0.5),
              inset 6px 6px 10px rgba(0,0,0,0.05);
}

.container .card .imgbox{
  position: relative;
  text-align: center;
}

.container .card .imgbox img{
  max-width: 180px;
}

.container .card .contentbox{
  position: relative;
  margin-top: 20px;
  text-align: center;
}

.container .card .contentbox h2{
  color: #32a3b1;
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: 2px;
}

.container .card .contentbox p{
  color: #32a3b1;
}


.container .card .contentbox a{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: inline-block;
  margin-top: 30px;
  border-radius: 40px;
  color: #32a3b1;
  font-size: 16px;
  text-decoration: none;
  box-shadow: -4px -4px 15px rgba(255,255,255,1),
        4px 4px 15px rgba(0,0,0,0.1);
}


.container .card .contentbox a:hover {

  box-shadow: -4px -4px 10px rgba(0,0,0,0.1),
        4px 4px 10px rgba(255,255,255,0.5);

  }


.container .card .contentbox a:hover span{
  display: block;
  transform: scale(0.98);

}


.container .card:hover .imgbox,
.container .card:hover .contentbox{
  transform: scale(0.98);
}




.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(238, 238, 238, 1);
   color: white;
   text-align: center;
}